<div class="container">
  <h2 id="menu-categories-title" class="text-center">
    Sign Up
  </h2>

    <form name="signupForm" novalidate>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                ng-model="signupCtrl.userInfo.firstName" required>
            <span ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched">
                <small>First name is required</small>
            </span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                ng-model="signupCtrl.userInfo.lastName" required>
            <span ng-if="signupForm.lastName.$error.required && signupForm.lastName.$touched">
                <small>Last name is required</small>
            </span>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email"
                ng-model="signupCtrl.userInfo.emailAddress" required>
            <span ng-if="signupForm.emailAddress.$invalid && signupForm.emailAddress.$touched">
                <small>Must be a valid email address: handle@domain format</small>
            </span>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" 
                ng-model="signupCtrl.userInfo.phoneNumber" placeholder="Phone ###-###-####" pattern="(\d{3})-(\d{3})-(\d{4})" required>
            <span ng-if="signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$touched">
                <small>Phone must be in the format ###-###-####</small>
            </span>
        </div>
        <div class="form-group">
            <label for="favoriteDish">Favorite Dish</label>
            <input type="text" class="form-control" id="favoriteDish" name="favoriteDish" placeholder="Favorite Dish"
                ng-model="signupCtrl.userInfo.favoriteDish" required
                ng-blur="signupCtrl.getMenuItem()">
            <span ng-if="signupForm.favoriteDish.$error.required && signupForm.favoriteDish.$touched">
                <small>Favorite dish is required. </small>
            </span>
            <span ng-if="signupCtrl.itemSearched && !signupCtrl.dishFound">
                <small>No such menu number exists</small>
            </span>
        </div>
        <button class="btn btn-primary"
            ng-disabled="signupCtrl.isFormInvalid(signupForm)"
            ng-click="signupCtrl.registerUser()">Submit</button>
    </form>

    <br/>
    <div ng-if="signupCtrl.signupComplete">
        <p class="alert alert-success">
            {{signupCtrl.message}}
        </p>
    </div>
</div>
