<div class="row">
    <div ng-if="ctrl.foundItems.length > 0">
        <div class="col-md-12">
            <h4>Items Matching Search Term: "{{ctrl.searchTerm}}"</h4>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Short Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.foundItems">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.short_name}}</td>
                        <td>{{item.description}}</td>
                        <td><button ng-click="ctrl.onRemove({index: $index})">Don't want this one!</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="ctrl.foundItems.length === 0">
        <div class="col-md-12">
            <h4>Nothing found!</h4>
        </div>
    </div>
</div>